:root {
    --color-primary: #F5F5F5;
    --color-secondary: #B288C0;
    --color-action: #2176AE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
}